

.wrapper {
	line-height: 1;
	display: grid;
	place-items: center;
}

.container {
	padding: 1.5rem;
	text-align: center;
	background:
		radial-gradient(circle at 1.4% 1.4%, var(--color-3) .8%, transparent .8%),
		radial-gradient(circle at 5.5% 3%, var(--color-4) .45%, transparent .45%),
		radial-gradient(circle at 2.5% 3.5%, var(--color-3) .5%, transparent .5%),
		radial-gradient(circle at 4.5% 1.2%, var(--color-4) .25%, transparent .25%),

		radial-gradient(circle at 98% 98%, var(--color-4) .8%, transparent .8%),
		radial-gradient(circle at 95% 95%, var(--color-4) .45%, transparent .45%),
		radial-gradient(circle at 94.5% 97.5%, var(--color-3) .5%, transparent .5%),
		radial-gradient(circle at 98.5% 95.5%, var(--color-4) .25%, transparent .25%);


}

@media screen and (min-width: 768px) {
	.about-heading-wrapper h1 {
		font-size: 6.5rem;
	}
}