.mainContainer {
	font-size: 16px;
	margin: 0;
	overflow: hidden;

	@media (min-width: 500px) {
		.container {
			font-size: 14px;
		}
	}
}

.mainContainer ::selection {
	background: #87cd33;
	color: white;
}

.mainContainer ul {
	padding-left: 1rem;
	list-style: none;
}

.mainContainer li {
	flex-shrink: 0;
	width: clamp(500px, 60vw, 800px);
	padding-right: 1rem;
}

.mainContainer * {
  width: 100% ;
  height: auto;
  background: #f0f0f0;
}

.mainContainer header {
	height: 5vh;
}

.mainContainer footer {
	height: 5vh;
}

.mainContainer :any-link {
	color: #4e9815
}

.demoWrapper {
	overflow-x: hidden;

}

.wrapper {
	display: flex;
}

.demoGallery:not(.last) {
	padding-bottom: 1rem;
}

.demoText {
	font-size: 40px;
}